<server description="MILE-IISc OCR REST API Liberty server">

  <featureManager>
      <feature>jaxrs-2.1</feature>
      <feature>jsonp-1.1</feature>
      <feature>mpOpenAPI-1.1</feature>
      <feature>mpHealth-2.2</feature>
      <feature>ssl-1.0</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                id="defaultHttpEndpoint" host="*" />

  <webApplication location="MILE-OCR-API.war" contextRoot="/"/>
</server>
